{{#if this.isOpen}}
  <div class="categorized-nav-backdrop" {{on "click" this.open}} />
{{/if}}

<nav class="categorized-nav {{if this.isOpen "open"}}">
  <button {{on "click" this.open}}>
    {{svg-jar "menu"}}
  </button>

  <ul>
    <li class="header">Categories</li>
    {{#each @model as | category |}}
      {{#let (eq this.selectedCategory category) as | categorySelected |}}
        <li class="category">
          <a {{on "click" (fn this.selectCategory category)}}>
            {{svg-jar (if categorySelected "expand_less" "expand_more")}} {{category.label}}
          </a>
        </li>
        {{#if categorySelected}}
          {{#each category.subcategories as | subcategory |}}
            <li>
              <LinkTo
                class="subcategory"
                @route="category.subcategory"
                @models={{array category.value subcategory.value}}
                {{on "click" this.open}}
              >
                {{subcategory.label}}
              </LinkTo>
            </li>
          {{/each}}
        {{/if}}
      {{/let}}
    {{/each}}
  </ul>
</nav>
